<% layout("/layout/boilerplate.ejs")%>
<body>
    <h1>Edit Your Details:- <%=data.title%></h1>
    <form action="/home/<%=data._id%>?_method=PUT" method="POST">
        <label for="title">Hotel's Name</label>
        <input type="text" name="listing[title]" value="<%=data.title%>">
        <br><br>

        <label for="description">Hotel's Description</label>
        <input type="text" name="listing[description]" value="<%=data.description%>">
        <br> <br>

        <label for="image">Image URL</label>
        <input type="text" name="listing[image]" value="<%=data.image%>">
        <br> <br>

        <label for="price">Hotel's price/night</label>
        <input type="text" name="listing[price]" value="<%=data.price%>">
        <br> <br>

        <label for="location">Hotel's Location</label>
        <input type="text" name="listing[loacation]" value="<%=data.location%>">
        <br> <br>

        <label for="country">Hotel's Country</label>
        <input type="text" name="listing[country]" value="<%=data.country%>">
        <br><br>

        <button>Edit</button>
    </form>
</body>
</html>