<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=listing.title%></h1>
    <img src="<%listing.image%>" alt="hotel img">
    <p><%=listing.description%></p>
    <p><%=listing.price%></p>
    <p><%=listing.location%></p>
    <p><%=listing.country%></p>
    <form action="/home/<%=listing._id%>/edit" method="GET">
        <button>Edit</button>
    </form>
    <form action="/home/<%=listing._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>